
*{
	box-sizing: border-box;
}

body{
	font-size: 20px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
}

.column {
	float: left;
	padding: 10px;
}
  
.left {
	width: 40%;
	position: fixed;
}
  
.right {
	width: 55%;
	margin-left: 45%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.left {
		position: relative;
		width: 99%;
	}
	.right {
		margin-left: 0%;
	}
	.column {
	  margin-left: 2.5%;
	  width: 99%;
	}
	.box {
		width: 99% !important;
		}
	.textt {
		margin-left: 2.5% !important;
		width: 99% !important;
	}
}

.box {
	border: none;
	padding: 5px;
	width: 45%;
	height: 650px;
	overflow: scroll;
	}

.textt {
		width: 55%;
		margin-left: 44.5%;
		}

	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
		}
		
	/*z	::-webkit-scrollbar-track {
		border: 1px solid rgb(50, 73, 205);
		border-radius: 10px;
		}*/
		
		::-webkit-scrollbar-thumb {
		background: rgb(50, 73, 205);  
		border-radius: 10px;
		}
		
		::-webkit-scrollbar-thumb:hover {
		background: rgb(35, 53, 156);  
		}